@charset "UTF-8";
.my_body {
    position: relative;
}

.top {
    background-color: #333333;
    height: 40px;
    min-width: 1226px;
}

.top_page {
    position: relative;
    width: 1226px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.top_page_l ul li a {
    vertical-align: middle;
    color: #B0B0B0;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.top_page_l ul li a:hover {
    color: #ffffff;
}

.top_page_l ul li span {
    vertical-align: middle;
    color: #424242;
    font: 12px sans-serif;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.top_page_l ul li {
    float: left;
    line-height: 40px;
}

.top_page_r ul li a {
    vertical-align: middle;
    color: #B0B0B0;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.top_page_r ul li a:hover {
    color: #FFFFFF;
}

.top_page_r ul li {
    float: left;
    line-height: 40px;
}

.top_page_r ul li span {
    vertical-align: middle;
    color: #424242;
    font: 12px sans-serif;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.buy_car {
    width: 120px;
    height: 40px;
    text-align: center;
    margin-left: 0.5em;
    background-color: #424242;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.buy_car div {
    height: 40px;
    width: 120px;
    display: table-cell;
    vertical-align: middle;
    color: #B0B0B0;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.buy_car div s {
    height: 16px;
    width: 16px;
    background: url(../image/buy_car_null.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5mm
}

.buy_car_dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 999;
    width: 316px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.buy_car_dropdown div {
    color: #424242;
    font-size: 12px;
    text-align: center;
    line-height: 100px;
}

#buy_car_link:hover .buy_car_dropdown {
    display: block;
}

#buy_car_link:hover .buy_car {
    background-color: #FFFFFF;
}

#buy_car_link:hover .buy_car div {
    color: #FF6700;
}

#buy_car_link:hover .buy_car div s {
    background: url(../image/buy_car_not_null.png);
}

.main_page_menu_h {
    position: relative;
    width: 1226px;
    height: 100px;
    margin: 0 auto;
}

.main_page_menu_h_left {
    width: 850px;
    height: 100px;
    float: left;
}

.mi_logo a {
    height: 55px;
    width: 55px;
    background-color: #FF6700;
    margin: 22px 0 0 0;
    text-align: center;
}

.mi_logo a s {
    height: 30px;
    width: 30px;
    background: url(../image/xiaomi_logo_30.png);
    display: inline-block;
    margin-top: 13px;
}

.activity_logo {
    margin-left: 14px;
    width: 165px;
    height: 100px;
    background-color: #FFFFFF;
}

.activity_logo a {
    height: 100px;
    width: 165px;
    text-align: center;
}

.activity_logo a s {
    height: 63px;
    width: 163px;
    background: url(../image/activity_logo.gif);
    display: inline-block;
    margin-top: 19px;
    margin-left: 1px;
}

.menu_h ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 100px;
}

.menu_h ul li a {
    vertical-align: middle;
    color: #333333;
    font: 16px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.menu_h ul li a:hover {
    color: #FF6700;
}

.main_page_menu_h_right {
    height: 100px;
}

.search {
    height: 50px;
}

.search form {
    height: 50px;
    margin-top: 25px;
    float: right;
    background: #FFFFFF;
}

.search_textview {
    width: 244px;
    height: 48px;
    border: 1px solid #E0E0E0;
    padding: 0 10px;
    color: #333333;
    outline: none;
    font: 16px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    vertical-align: middle;
}

.search_submit_button {
    width: 50px;
    height: 50px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    background-image: url(../image/search_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.search_hover:hover {
    border: 1px solid #B0B0B0;
}

.search_hover:focus {
    border: 1px solid #FF6700;
}

.search_button_hover:hover {
    border: 1px solid #FF6700;
    background-color: #FF6700;
    background-image: url(../image/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main_page_menu_v {
    position: relative;
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    /* background-color: #FF6700; */
}

.main_page_menu_v_left {
    position: absolute;
    z-index: 999;
    width: 234px;
    height: 460px;
    background-color: #424242;
}

.main_page_menu_v_left>ul {
    width: 234px;
    height: 420px;
    margin: 20px 0 0 0;
}

.main_page_menu_v_left>ul>li {
    position: relative;
    width: 234px;
    height: 42px;
    vertical-align: middle;
}

.main_page_menu_v_left>ul>li>a {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    color: #FFFFFF;
    font: 14px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    line-height: 42px;
}

.main_page_menu_v_left>ul>li>a:hover {
    background-color: #FF6700;
}

.main_page_menu_v_left>ul>li>a>s {
    position: absolute;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../image/right_arrow.png);
    vertical-align: middle;
    top: 14px;
    right: 27px;
}

.main_page_banner {
    position: absolute;
    width: 1226px;
    height: 460px;
}

@keyframes img_opacity {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes img_opacity {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0;
    }
}

.main_page_banner a img {
    width: 1226px;
    height: 460px;
    opacity: 1;
    animation: img_opacity 0.5s linear 1;
    -webkit-animation: img_opacity 0.5s linear 1;
}

#img_yuan {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    left: auto;
    right: 30px;
    bottom: 20px;
    width: 400px;
    height: 17.6px;
    justify-content: flex-end;
}

/*
 *每一个小圆点
 * */

#img_yuan font {
    border: 2px solid rgba(255, 255, 0255, 0.3);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    background-color: #757575;
}

#banner_right_arrow a {
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    background: url(../image/bannner/icon-slides.png) no-repeat -125px 0px;
}

#banner_right_arrow a:hover {
    background: url(../image/bannner/icon-slides.png) no-repeat -42px 0px;
}

#banner_left_arrow a {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 234px;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    background: url(../image/bannner/icon-slides.png) no-repeat -83px 0px;
}

#banner_left_arrow a:hover {
    background: url(../image/bannner/icon-slides.png) no-repeat 0px 0px;
}

#other_content {
    width: 1226px;
    height: 1500px;
    background: #757575;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}

#home_right_bar {
    display: block;
    position: fixed;
    bottom: 70px;
    right: 0;
    z-index: 999999;
    width: 84px;
    height: 380px;
}

#home_right_top_bar {
    display: block;
    width: 84px;
    height: 274px;
    background-color: #FFFFFF;
}

#home_right_bottom_bar {
    border: 1px solid #F5F5F5;
    position: absolute;
    display: block;
    width: 84px;
    height: 92px;
    background-color: #FFFFFF;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

#home_right_top_bar ul {
    border-top: 1px solid #F5F5F5;
}

#home_right_top_bar ul li {
    border: 1px solid #F5F5F5;
    border-top: none;
    width: 82px;
    height: 90px;
}

#home_right_top_bar ul li a {
    width: 82px;
    height: 90px;
}

#home_right_top_bar ul li a div {
    width: 82px;
    height: 90px;
    text-align: center;
}

#home_right_top_bar ul li a div img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

#home_right_top_bar ul li a div p {
    margin: 8px 0px 0px 0px;
    color: #757575;
    font-size: 14px;
}

#a_person_center:hover div p {
    color: #FF6700;
}

#a_customer:hover div p {
    color: #FF6700;
}

#a_buy_cart:hover div p {
    color: #FF6700;
}

#home_right_bottom_bar a div img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

#home_right_bottom_bar a div p {
    margin: 8px 0px 0px 0px;
    color: #757575;
    font-size: 14px;
}

#a_go_top:hover div p {
    color: #FF6700;
}

#menu_v_left_menu {
    position: absolute;
    top: -20px;
    left: 234px;
    z-index: 998;
    display: none;
    height: 460px;
    width: 992px;
    background-color: #FFFFFF;
    border: 1px solid #e0e0e0;
    border-left: 0;
}

#menu_v_left_phone_card:hover>div {
    display: block;
}

#menu_v_left_phone_card>div {
    height: 460px;
    width: 992px;
}

#menu_v_left_phone_card>div>ul {
    height: 460px;
    width: 248px;
    float: left;
}

#menu_v_left_phone_card>div>ul>li {
    width: 248px;
    height: 76px;
    background-color: #FFFFFF;
}

#menu_v_left_phone_card>div>ul>li>a{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
}

#menu_v_left_phone_card>div>ul>li>a>img {
    height: 40px;
    width: 40px;
    float: left;
    vertical-align: middle;
    margin-right: 12px;
}

#menu_v_left_phone_card>div>ul>li>a>p {
    height: 76px;
    float: left;
    color: #333333;
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
}

#menu_v_left_phone_card>div>ul>li>a:hover>p{
    color: #FF6700;
}

#menu_3{
    width: 1226px;
    height: 170px;
    margin: 0 auto;
    margin-top: 14px;
}

#menu_3_left{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    font-size: 12px;
    
}

#menu_3_left>ul{
    width: 234px;
    height: 170px;
    padding: 3px;
}

#menu_3_left>ul>li{
    width: 70px;
    height: 82px;
    padding: 0 3px;
    float: left;
}

#menu_3_left>ul>li{
    position: relative;
    display: list-item;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    float: left;
}

#menu_3_left>ul>li>a{
    display: block;
    padding-top: 18px;
    color: rgba(255,255,255,0.7);
    transition: color .2s;
    font-size: 12px;
    text-align: center;
    
}

#menu_3_left>ul>li>a:hover{
    color: #FFFFFF;
    
}

#menu_3_left>ul>li>a>img{
    display: block;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
}




#menu_3_left_li_2:before{
    top: 6px;
    left: 0px;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57;
}


#menu_3_left_li_3:before{
    top: 6px;
    left: 0px;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57;
}

#menu_3_left_li_4:before{
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
}

#menu_3_left_li_5:before{
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
}

#menu_3_left_li_5:after{
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57;
}

#menu_3_left_li_6:before{
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
}

#menu_3_left_li_6:after{
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57;
}

#menu_3_right{
    width: 992px;
    height: 170px;
    float: right;

}

#menu_3_right>ul{
    width: 992px;
    height: 170px;

}

#menu_3_right>ul>li{
    width: 316px;
    height: 170px;
    float: left;

}

#menu_3_right_li_1{
    margin-left: 14px;

}

#menu_3_right_li_2{
    margin-left: 15px;

}

#menu_3_right_li_3{
    margin-left: 15px;

}

#menu_3_right>ul>li>a>img{
    width: 316px;
    height: 170px;

}





