@charset "UTF-8";
.top {
    background-color: #333333;
    height: 40px;
    min-width: 1226px;
}

.top_page {
    width: 1226px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.top_page_l ul li a {
    vertical-align: middle;
    color: #B0B0B0;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.top_page_l ul li a:hover {
    color: #ffffff;
}

.top_page_l ul li span {
    vertical-align: middle;
    color: #424242;
    font: 12px sans-serif;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.top_page_l ul li {
    float: left;
    line-height: 40px;
}

.top_page_r ul li a {
    vertical-align: middle;
    color: #B0B0B0;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.top_page_r ul li a:hover {
    color: #FFFFFF;
}

.top_page_r ul li {
    float: left;
    line-height: 40px;
}

.top_page_r ul li span {
    vertical-align: middle;
    color: #424242;
    font: 12px sans-serif;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.buy_car {
    width: 120px;
    line-height: 40px;
    text-align: center;
    margin-left: 0.5em;
}

.buy_car a {
    vertical-align: middle;
    color: #B0B0B0;
    font: 12px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.buy_car a s {
    height: 16px;
    width: 16px;
    background: url(../image/buy_car_null.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5mm
}

.buy_car:hover{
    background-color: #FFFFFF;
}

.main_page_menu_h {
    width: 1226px;
    height: 100px;
    margin: 0 auto;
}

.main_page_menu_h_left {
    width: 850px;
    height: 100px;
    float: left;
}

.mi_logo a {
    height: 55px;
    width: 55px;
    background-color: #FF6700;
    margin: 22px 0 0 0;
    text-align: center;
}

.mi_logo a s {
    height: 30px;
    width: 30px;
    background: url(../image/xiaomi_logo_30.png);
    display: inline-block;
    margin-top: 13px;
}

.activity_logo {
    margin-left: 14px;
    width: 165px;
    height: 100px;
    background-color: #FFFFFF;
}

.activity_logo a {
    height: 100px;
    width: 165px;
    text-align: center;
}

.activity_logo a s {
    height: 63px;
    width: 163px;
    background: url(../image/activity_logo.gif);
    display: inline-block;
    margin-top: 19px;
    margin-left: 1px;
}

.menu_h ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 100px;
}

.menu_h ul li a {
    vertical-align: middle;
    color: #333333;
    font: 16px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.menu_h ul li a:hover {
    color: #FF6700;
}

.main_page_menu_h_right {
    height: 100px;
}

.search {
    height: 50px;
}

.search form {
    height: 50px;
    margin-top: 25px;
    float: right;
    background: #FFFFFF;
}

.search_textview {
    width: 244px;
    height: 48px;
    border: 1px solid #E0E0E0;
    padding: 0 10px;
    color: #333333;
    outline: none;
    font: 16px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    vertical-align: middle;
}

.search_submit_button {
    width: 50px;
    height: 50px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    background-image: url(../image/search_grey.png);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.search_hover:hover {
    border: 1px solid #B0B0B0;
}

.search_hover:focus {
    border: 1px solid #FF6700;
}

.search_button_hover:hover {
    border: 1px solid #FF6700;
    background-color: #FF6700;
    background-image: url(../image/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main_page_menu_v {
    position: relative;
    width: 1226px;
    height: 460px;
    margin: 0 auto;
}

.main_page_menu_v_left {
    position: absolute;
    width: 234px;
    height: 460px;
    background-color: #424242;
}

.main_page_menu_v_left ul {
    width: 234px;
    height: 420px;
    margin: 20px 0 0 0;
}

.main_page_menu_v_left ul li {
    width: 234px;
    height: 42px;
    vertical-align: middle;
}

.main_page_menu_v_left ul li a {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    color: #FFFFFF;
    font: 14px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    line-height: 42px;
}

.main_page_menu_v_left ul li a:hover {
    background-color: #FF6700;
}

.main_page_menu_v_left ul li s {
    position: absolute;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../image/right_arrow.png);
    vertical-align: middle;
    top: 14px;
    right: 27px;
}

.main_page_banner {
    position: absolute;
    width: 1226px;
    height: 460px;
    /* background: #FF6700; */
}

@keyframes img_opacity {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

 @-webkit-keyframes img_opacity{
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0;
    }
} 

.main_page_banner img {
    width: 1226px;
    height: 460px;
    
    opacity: 1;
    animation:img_opacity 0.5s linear 1;
    -webkit-animation:img_opacity 0.5s linear 1;
}

#img_yuan {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    left: auto;
    right: 30px;
    bottom: 20px;
    width: 400px;
    height: 17.6px;
    justify-content: flex-end;
}

/*
 *每一个小圆点
 * */

#img_yuan font {
    border: 2px solid rgba(255, 255, 0255, 0.3);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    background-color: #757575;
}

#banner_right_arrow a {
    position: absolute;
    z-index: 999;
    top: 50%;
    right: 0%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    background: url(../image/bannner/icon-slides.png) no-repeat -125px 0px;
}

#banner_right_arrow a:hover {
    background: url(../image/bannner/icon-slides.png) no-repeat -42px 0px;
}

#banner_left_arrow a {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 234px;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    background: url(../image/bannner/icon-slides.png) no-repeat -83px 0px;
}

#banner_left_arrow a:hover {
    background: url(../image/bannner/icon-slides.png) no-repeat 0px 0px;
}